canvas {
	border: 1px solid black;
}

body {
	background: url("background.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.title {
	color: white;
}

.instructions {
	background: rgba(255,255,255,0.75);
	padding: 5px;
	margin-top: 150px;
	color: black;
}

.player1-random {
	color: blue;
}

.player2-random {
	color: red;
}

canvas {
	background: rgba(255,255,255,0.5);
}